td
{ width: 40px;
    height: 40px;
    text-align: center;

}
.number
{
line-height:0px;
font-size: 12px;
font-weight: bold;

}
.name
{
line-height: 0px;
font-weight: bold;
}
 
.header
{
    line-height: 60px;
    font-weight: bold;
    font-size: 90px;
}
.category1
{
    background-color: rgb(63, 245, 39);
}
.category2
{
    background-color: rgb(221, 44, 12);
}
.category3
{
    background-color: rgb(238, 255, 0);
}
.category4
{
    background-color: rgb(91, 182, 235);
}
.category5
{
    background-color: rgb(236, 96, 194);
}
.category6
{
    background-color: rgb(190, 245, 39);
}
.category7
{
    background-color: rgb(216, 35, 201);
}
.category8
{
    background-color: rgb(129, 129, 129);
}
.category9
{
    background-color: rgb(78, 35, 158);
}
